@import './color.scss';
// @import './style.scss';

.about-us{
    // background-image: url('../img/background.png');
    // width: 100%;
}

.about{
    padding-bottom: 2.5rem;
}

.about-msg-container{
    padding-block: 2.5rem;
    // background-color: $yellow;
    display: flex;
    justify-content: center;

    .about-msg{
        margin: auto;
        max-width: 720px;
        background-color: $header;
        padding: 1.5rem;
        padding-block: 2.5rem;
        padding-inline: 1.25rem;
        margin-inline: 1rem;
        text-align: center;
        border: 2px solid $blue;
        border-top: 6px solid $blue;
    }

    h1{
        font-weight: 500;
        margin-bottom: 1rem;
        color: $blue;
        font-size: 2rem;
    }

    p {
        text-align: left;
        font-size: 1.125rem;
    }
}

.container-o{
    // margin: 4% 10%;
    padding-block: 2.5rem;
    // padding-bottom: 0.5rem;
    margin-bottom: 2.5rem;

    border-bottom: 2px solid $blue;
    border-top: 2px solid $blue;

    display: flex;
    flex-direction: column;

    >div{
        display: inline-block;
    }
}

.container-our-img{
    max-width: 720px;
    margin: auto;
    > img {
        width: 100%;
    }
}

.container-our{
    max-width: 720px;
    margin: auto;

    .our-services{
        margin: 4% 0%;
        text-align: left;
        
        h3{
            font-weight: 500;
            color: $blue;
        }
        p{
            font-size: 13px;
            color:$grey;
        }
    }
}

.about{
    .about-video{
        text-align: center;
    }
    iframe{
        width: 92%;
        max-width: 1024px;
        aspect-ratio: 16/9;
    }
}

@media only screen and (min-width: 1024px) {
    .container-o{
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 5rem;

    }
    .container-our-img{
        width: 55%;
        margin-inline-end: 1.5rem;
    }

    .container-o, .about-msg-container{
        padding-block: 5rem;
    }

    .about{
        padding-bottom: 5rem;
    }
}

