@import './color.scss';
// @import './style.scss';

.about{
    padding-bottom: 2.5rem;
}

.about-msg-container{
    padding-block: 2.5rem;
    // background-color: $blue;
    display: flex;
    justify-content: center;
    position: relative;
    // background-image: linear-gradient(135deg, $yellow, $blue);

    overflow: hidden;

    .about-msg{
        margin: auto;
        max-width: 720px;
        // color: $header;
        // background-color: $blue-light;
        padding: 1.5rem;
        padding-block: 2.5rem;
        padding-inline: 1.25rem;
        margin-inline: 1rem;
        text-align: center;
        // border: 2px solid $header;
        // border-top: 6px solid $header;
    }

    h1{
        font-weight: 500;
        margin-bottom: 1rem;
        // color: $blue;
        // background-color: $blue-light;
        font-size: 2.5rem;
    }

    p {
        text-align: left;
        font-size: 1.125rem;
        // color: $header;
    }

    .triangle{
        width: 60vw;
        position: absolute;
        height: 60vw;
        z-index: -1;
    }
    
    .left{
        top: calc(-60vw/2);
        left: calc(-60vw/2);
        background-color: $yellow;
        transform: rotate(135deg);
    }
    
    .right{
        bottom: calc(-60vw/2);
        right: calc(-60vw/2);
        transform: rotate(135deg);
        background-color: $blue;
    }


}



.container-o{
    // margin: 4% 10%;
    padding-block: 2.5rem;
    // padding-bottom: 0.5rem;
    margin-bottom: 2.5rem;

    // border-bottom: 2px solid $blue;
    // border-top: 2px solid $blue;

    display: flex;
    flex-direction: column;

    >div{
        display: inline-block;
    }
}

.container-our-img{
    max-width: 720px;
    margin: auto;
    > img {
        width: 100%;
        border: 1px solid $blue;
    }
}

.container-our{
    max-width: 720px;
    margin: auto;

    .our-services{
        margin: 4% 0%;
        text-align: left;

        // background-color: $yellow;
        
        h3{
            font-weight: 500;
            color: $blue;
        }
        p{
            font-size: 13px;
            color:$grey;
        }
    }
}

.about{
    .about-video{
        text-align: center;
    }
    iframe{
        width: 92%;
        max-width: 1024px;
        aspect-ratio: 16/9;
    }
}

@media only screen and (min-width: 1024px) {
    .container-o{
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 2.5rem;

    }
    .container-our-img{
        width: 55%;
        margin-inline-end: 1.5rem;
    }

    .container-o, .about-msg-container{
        padding-block: 2.5rem;
    }

    .about{
        padding-bottom: 5rem;
    }
}

