@import './color.scss'; 

.certificate{
    // margin: 2% 0%;
    padding-block: 5rem;
    background: url('../img/bg2.webp');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    .certificate-msg{
        color: white;
        max-width: 768px;
        padding-block: 0;
        margin: auto;

        h1{
            font-size: 2.5rem;
            color: $yellow;
            font-weight: 500;
            margin-bottom: 0.5rem;
            text-align: center;
        }

        p{
            font-size: 1.125rem;
            text-align: center;
        }

        span{
            // color: $blue;
            color: $yellow;
            font-size: 1.625rem;
        }
    }

    .certificate-img{

        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 2.5rem;
        padding-bottom: 1rem;
    }

    img{
        width: 29vw;
        max-width: 100px;
        margin: 0% 1%;
    }
}