@import './color.scss'; 

#home{
    background: url('../img/bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba($color: #000000, $alpha: 1);
    height: 100vh;

    .home-msg{
        color: white;

        span{
            font-size: 2.5rem;
        }
        b{
            font-size: 2.5rem;
            color: $blue;
        }
        p{
            font-size: 1.125rem;
            max-width: 768px;
            line-height: 1.5rem;
        }

    }

    .home-img{
        width: 100%;
        height: 40%;
        margin: auto;
        
        display: flex;
        align-items: center;
        justify-content: left;
        margin-bottom: 2%;
        >div{
            color: white;
            display: inline-block;
            width: 45%;
            font-size: 40px;
            font-weight: 400;
        }
        .home-text1{
            margin-left: 5%;
            text-align: left;
        }
        .home-text2{
            margin-right: 5%;
            text-align: right;
        }
        b{
            color: $blue;
        }
    }
    
}

.typing-text{
    color: white;
}

@media only screen and (min-width: 1024px) {
    .home-msg{
        span, b{
            font-size: 3.5rem !important;
        }

        p{
            font-size: 1.25rem !important;
        }

    }
}