@import './color.scss';

* {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box;
}

  
body, h1, h2, h3, h4, h5, p {
    font-family: 'Manrope',sans-serif;
}

.container{
    margin: auto;
    max-width: 1250px;
    padding: 0.825rem;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    background: $header;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    background: rgba(11, 11, 11, 0.7);

    transition: all 0.4s ease;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    z-index: 1;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-logo img{
        width: 42px;
        position: relative;
        top: 0;
    }

    .header-menu{
        min-width: 210px;
        width: 60%;
        max-width: 300px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .header-menu a{
        color: $header;
        text-decoration: none;
        position: relative;
    }

    .header-menu a:hover{
        color: $blue;
    }
    
}

header.sticky{
    background: $header !important;
    transition: all 0.4s ease;
    .header-menu a{
        color: black;
    }
}

.App{
    width: 100%;
}

.typing-text{
    margin: 2% 5%;
    font-size: 27px;
}

footer{
    background: $black;
    color: white;
    margin-top: 2%;
    .footer-detail{
        span{
            font-weight: bold;
        }
        >div{
            display: inline-block;
            width: 30%;
            padding: 4% 10%;
        }
        .detail-contact{
            text-align: right;
        }
        p{
            font-size: 13px;
            color: $grey;
            text-decoration: underline;
        }
    }
    .footer-s{
        border-top: 0.1px solid white;
        padding-top: 2%;
        padding-bottom: 4%;
        text-align: center;
    }
    a{
        text-decoration: none;
        color: white;
        padding: 0.5%;
        border-radius: 50%;
    }
    a:hover{
        background: $blue;
    }
    .copy-right{
        font-size: 13px;
        color: grey;
    }
}

.fa {
    width: 20px;
}